 /*------------google-fonts----------*/
 
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Great+Vibes&display=swap:100,200,300,400,500,600,700');

body {
margin:0;
padding: 0;
}
 /*------------main----------*/
 main {
     font-family: "Exo",sans-serif;
     font-size: 1.2em;
     width: 100%;
     background-color:
     #000000;
     color: #fdb517;
    padding-top: 10px;
   
 }
 .bg-master-room1 {
  background-image: url(../images/design-lobby-ceiling.jpg);
  background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  width: 33.3%;
  height: 150px;
 }
.bg-master-room2 {
  background-image: url(../images/hotel-building.jpg);
  background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-master-room3 {
 background-image: url(../images/design-lobby-ceiling.jpg);
background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  width: 33.3%;
  height: 150px;
} 
   
 
 .bg-image-title {
   background: url("../images/golden-truly-hotel.jpg");
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
     height: 360px;
     border: 1px solid;
     border-radius: 12px
 }
 #title {
  color: #fdb517;
     font-family: "Great Vibes",sans-serif;
     font-size: 3em;
     text-align: center;
     padding-top: 150px;
 }
 #welcome {
   color: #fdb517;
     font-family: "Great Vibes",sans-serif;
     font-size: 2.5em;}
   .section {
    margin: 0 auto;
   } 
 
  /*-----------main nav-bar----------*/
  .nav-bar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: #000000; 
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
  }
 
  .nav-bar-menu {
   width: 100%;
   list-style: none;
   text-align: center;
 padding: 0;
  
  }
  .nav-bar-item a {
   font-size: 1em;
   text-align: center;
   color: #fdb517;
    text-decoration: none;
    height: 120px;
     width: 100%;
  }
  .nav-bar-item a:hover {
   border-radius: 20px;
   background-color: #fdb517;
   color: #000000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  .nav-bar-item {
   width: 25%;
  display: inline-block;

 }
 
iframe {
 width: 100%;
 height: 360px;
 border: none;
 margin: 0;
}
 /*-----------main footer----------*/
 
 .container-fluid {
  background-color: #000000;
  color: #fdb517;
  
 }

 footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding: 0;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: #fdb517;
}
#footer-details {
    padding:20px;
}
/*   contact.html/form    */
.contact-heading, .contact-thanks {
    font-family: "Great Vibes", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
    
}
form {

    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fdb517;
    background-color: #000000;
    
}
/*-------------------------------------Media queries*/

@media(min-width: 992px) {
   .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
} 
}